body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: "Helvetica", arial;
  background-color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(
    to right bottom,
    rgba(78, 58, 0, 0.6),
    rgba(0, 37, 70, 0.6)
  );
}

.step {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.step.active {
  opacity: 1;
}

#fold {
  width: 400px;
  height: 300px;
  margin: 200px auto 0 auto;
  background: #333;
  color: #fff;
}

#fold h1 {
  line-height: 300px;
  text-align: center;
  color: #fff;
}

/* ball */

.ball {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 1.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball1 {
  display: inline-block;
  margin: 0 0 0 450px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 0.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball2 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 0.75s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball3 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 1s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball4 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 1.25s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball5 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 1.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball6 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 1.75s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball7 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball8 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 2.25s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball9 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 2.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball10 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 2.75s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball11 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 3s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ball12 {
  display: inline-block;
  margin: 0 0 0 500px;
  border-radius: 50%;
  position: absolute;
  background-image: linear-gradient(
      to right bottom,
      rgb(43 30 0 / 90%),
      rgb(0 0 0 / 80%)
    ),
    url(/img/mandala.07393d8f.jpg);
  background-position: center;
  animation: neonGlow 2s 3.25s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
      0 0 0px rgba(255, 255, 255, 0.8), 0 0 0px rgba(255, 255, 255, 0.8),
      0 0 0px rgba(220, 192, 66, 0.8), 0 0 0px rgba(220, 205, 66, 0.8),
      0 0 0px rgba(220, 210, 66, 0.8), 0 00px rgba(220, 197, 66, 0.5),
      0 0 0px rgba(220, 184, 66, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4),
      0 0 0px rgba(255, 255, 255, 0.4), 0 0 100px rgba(255, 255, 255, 0.4),
      0 0 0px rgba(220, 192, 66, 0.4), 0 0 250px rgba(220, 205, 66, 0.4),
      0 0 0px rgba(220, 197, 66, 0.5), 0 0 400px rgba(220, 210, 66, 0.5),
      0 0 0px rgba(220, 197, 66, 0.5), 0 0 800px rgba(220, 210, 66, 0.5);
  }
}

/*ring */

.scene {
  width: 300px;
  height: 300px;
  margin: 2% auto;
  perspective: 1000px;
}
.wrapper {
  width: 100%;
  height: 100%;
  transform: rotateX(45deg) rotateY(45deg);
  transform-style: preserve-3d;
}
.main-sphere {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  transform-style: preserve-3d;
  animation: roundandround 7.5s 1.3s infinite linear;
}
.main-sphere .ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 6px;
  border-style: dashed;
  border-radius: 50%;

  animation: show 0.75s forwards ease-in-out;
  animation: sphereGlow 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes sphereGlow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4),
      0 0 0px rgba(255, 255, 255, 0.4), 0 0 0px rgba(255, 255, 255, 0.4),
      0 0 0px rgba(220, 192, 66, 0.4), 0 0 0px rgba(255, 246, 162, 0.4),
      0 0 0px rgba(220, 197, 66, 0.5), 0 0 0px rgba(255, 252, 214, 0.5),
      0 0 0px rgba(220, 197, 66, 0.5), 0 0 40px rgba(255, 254, 237, 0.5);
  }
  100% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.4),
      0 0 0px rgba(255, 255, 255, 0.8), 0 0 0px rgba(255, 253, 230, 0.8),
      0 0 0px rgba(255, 247, 211, 0.8), 0 0 0px rgba(255, 248, 188, 0.8),
      0 0 0px rgba(255, 254, 245, 0.8), 0 00px rgba(231, 231, 231, 0.5),
      0 0 0px rgba(223, 223, 223, 0.5);
  }
}

.ring:nth-child(1) {
  color: #fff3c7;
  transform: rotateY(4deg);
  animation-delay: 0s;
}
.ring:nth-child(2) {
  color: #fff3c7;
  transform: rotateY(8deg);
  animation-delay: 0.1s;
}
.ring:nth-child(3) {
  color: #fff3c7;
  transform: rotateY(12deg);
  animation-delay: 0.2s;
}
.ring:nth-child(4) {
  color: #fff3c7;
  transform: rotateY(16deg);
  animation-delay: 0.3s;
}
.ring:nth-child(5) {
  color: #fff3c7;
  transform: rotateY(20deg);
  animation-delay: 0.4s;
}
.ring:nth-child(6) {
  color: #fff3c7;
  transform: rotateY(24deg);
  animation-delay: 0.5s;
}
.ring:nth-child(7) {
  color: #fff3c7;
  transform: rotateY(28deg);
  animation-delay: 0.6s;
}
.ring:nth-child(8) {
  color: #fff3c7;
  transform: rotateY(32deg);
  animation-delay: 0.7s;
}
.ring:nth-child(9) {
  color: #fff3c7;
  transform: rotateY(36deg);
  animation-delay: 0.8s;
}
.ring:nth-child(10) {
  color: #fff3c7;
  transform: rotateY(40deg);
  animation-delay: 0.9s;
}
.ring:nth-child(11) {
  color: #fff3c7;
  transform: rotateY(44deg);
  animation-delay: 1s;
}
.ring:nth-child(12) {
  color: #fff3c7;
  transform: rotateY(48deg);
  animation-delay: 1.1s;
}
.ring:nth-child(13) {
  color: #fff3c7;
  transform: rotateY(52deg);
  animation-delay: 1s;
}
.ring:nth-child(14) {
  color: #fff3c7;
  transform: rotateY(56deg);
  animation-delay: 0.9s;
}
.ring:nth-child(15) {
  color: #fff3c7;
  transform: rotateY(60deg);
  animation-delay: 0.8s;
}
.ring:nth-child(16) {
  color: #fff3c7;
  transform: rotateY(64deg);
  animation-delay: 0.7s;
}
.ring:nth-child(17) {
  color: #fff3c7;
  transform: rotateY(68deg);
  animation-delay: 0.6s;
}
.ring:nth-child(18) {
  color: #fff3c7;
  transform: rotateY(72deg);
  animation-delay: 0.5s;
}
.ring:nth-child(19) {
  color: #fff3c7;
  transform: rotateY(76deg);
  animation-delay: 0.4s;
}
.ring:nth-child(20) {
  color: #fff3c7;
  transform: rotateY(80deg);
  animation-delay: 0.3s;
}
.ring:nth-child(21) {
  color: #fff3c7;
  transform: rotateY(84deg);
  animation-delay: 0.2s;
}
.ring:nth-child(22) {
  color: #fff3c7;
  transform: rotateY(88deg);
  animation-delay: 0.1s;
}
.ring:nth-child(23) {
  color: #fff3c7;
  transform: rotateY(92deg);
  animation-delay: 0s;
}

@keyframes roundandround {
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

/* wrapper */

.content-wrapper {
}

.text-wrapper {
  transform: translateX(-25vw) rotateY(45deg);
  width: 600px;
}

/* fonts */
h1 {
  font-family: "Cinzel Decorative", cursive;
}
p {
  font-size: 18px;
  line-height: 25px;
  font-family: "Cinzel Decorative", cursive;
}

/*
melhores -> font-family: 'Cinzel Decorative', cursive;
melhores -> font-family: 'Poiret One', cursive;

font-family: 'Arizonia', cursive;

font-family: 'Reenie Beanie', cursive;
font-family: 'Pinyon Script', cursive;

font-family: 'Cinzel', serif;
font-family: 'Dancing Script', cursive;
*/
