@import '../Import';

body{
  color:#555;
}

p{
  width: 200px;
}

.step{opacity:.2;@include transition(opacity .3s);}
.step.active{opacity:1;}

#fold{
  width: 400px;
  height: 300px;
  margin: 200px auto 0 auto;
  background: #333;
  color:#fff;
}

#fold h1{
  line-height: 300px;
  text-align: center;
}